<div class="main_left">
 <ul>
 <%@categories.each do |category| %>
  <li><%= link_to category.name, category_products_path(category) %></li>
 <% end %>
 </ul>
 </div>
<div class="row">
<% @products.each do |product| %>
  <div class="product_item">
    <%= image_tag product.picture_url, class: "product_image" %>
    <h3><%= product.title %></h3>
    <p><%= product.description %></p>
    <a class="add_to_cart" href="#">Add to cart</a>
  </div>
<% end %>


<div class="paginate_row">
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @products %>
    </div>
    <%= will_paginate @products, container: false %>
</div>

</div>

</div>











<br>


